In [6]:
from db_utils.sqlite_connect import sqlite_connect

db = sqlite_connect('test.db')

In [7]:
db.update_db('''
CREATE TABLE IF NOT EXISTS test_users(
id int serial,
name varchar,
email varchar
)
''', pprint=True)

db.update_db('''
INSERT INTO test_users(name, email) VALUES ('Mahe Drysdale', 'mahe@exmple.com')
''', pprint=True)

db.update_db('''
INSERT INTO test_users(name, email) VALUES ('jeremie azou', 'jeremie@exmple.com')
''', pprint=True)


db.update_db('''
INSERT INTO test_users(name, email) VALUES ('bryan volpenhein', 'bryan@exmple.com')
''', pprint=True)

CREATE TABLE IF NOT EXISTS test_users(id int serial, name varchar, email varchar)
0.0 minutes




INSERT INTO test_users(name, email)
VALUES ('Mahe Drysdale', 'mahe@exmple.com')
0.0 minutes




INSERT INTO test_users(name, email)
VALUES ('jeremie azou', 'jeremie@exmple.com')
0.0 minutes




INSERT INTO test_users(name, email)
VALUES ('bryan volpenhein', 'bryan@exmple.com')
0.0 minutes

1

In [8]:
db.get_df_from_query('''
SELECT * FROM test_users
''', pprint=True)

SELECT *
FROM test_users
0.0 minutes

     id              name               email
0  None     Mahe Drysdale      mahe@exmpl.com
1  None      jeremie azou   jeremie@exmpl.com
2  None  bryan volpenhein     bryan@exmpl.com
3  None     Mahe Drysdale     mahe@exmple.com
4  None      jeremie azou  jeremie@exmple.com
5  None  bryan volpenhein    bryan@exmple.com

In [10]:
help(db)

Help on sqlite_connect in module db_utils.sqlite_connect object:

class sqlite_connect(db_utils.db_connect.db_connect)
 |  parent python database connection class utilizing
 |  python database API specification v2.0
 |  https://www.python.org/dev/peps/pep-0249/#connection-methods
 |
 |  Method resolution order:
 |      sqlite_connect
 |      db_utils.db_connect.db_connect
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, db_path)
 |      db_path <string> -  supply path to database file, if it doesn't exist
 |                          a new one will be created.
 |
 |      ex)
 |      from db_utils.sqlite_connect import sqlite_connect
 |
 |      db = sqlite_connect('test.db')
 |
 |  connect_to_db(self)
 |      implemented by child classes returns a database connection
 |
 |  get_df_from_query(self, query, params=(), pprint=False)
 |      query <string> - sql statement
 |      params optional <tuple> - user input variables to prevent sql injection
 |                                sql statement should be formated with question
 |                                marks where variables should be placed
 |
 |                                e.g. WHERE username = ?
 |      pprint optional <boolean> -  prints formated sql query and time to execute in minutes
 |
 |      returns a panadas dataframe
 |
 |  update_db(self, query, params=(), pprint=False)
 |      query <string> - sql statement
 |      params optional <tuple> - user input variables to prevent sql injection
 |                                sql statement should be formated with question
 |                                marks where variables should be placed
 |
 |                                e.g. WHERE username = ?
 |      pprint optional <boolean> -  prints formated sql query and time to execute in minutes
 |
 |      returns effected row count
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from db_utils.db_connect.db_connect:
 |
 |  close_conn(self)
 |
 |  format_sql(self, query)
 |      returns formated sql query
 |
 |  get_arr_from_query(self, query, params=None, pprint=False)
 |      query <string> - sql statement
 |      params optional <tuple> - user input variables to prevent sql injection
 |                                sql statement should be formated with question
 |                                marks where variables should be placed
 |
 |                                e.g. WHERE username = %s
 |      pprint optional <boolean> -  prints formated sql query and time to execute in minutes
 |
 |      returns a list of lists
 |
 |  transaction(self, queries, pprint=False)
 |      method for creating transcations via psycopg2
 |      important to use when a rollback must be called if the
 |      entire series of queries do not successfully complete
 |
 |      queries - list - sql statements
 |
 |      returns list of row counts for each query
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from db_utils.db_connect.db_connect:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)